@media ( min-width: 768px ) {
    .searchFormContainer { border: 1px solid #EBEBF1; border-radius: 5px }
    .searchForm { margin-left: 39px }
    .searchIcon { margin: 8px 10px }
}
@media ( max-width: 767px ) {
    .searchFormContainer { border: none }
    .searchForm { margin-left: 29px }
    .searchIcon { margin: 8px 10px 8px 0}
}

.searchFormContainer {
    display: grid;
    align-content: center;
    /* height + border = 40px */
    height: 38px;
    width: 100%;
}

.searchForm {
    height: 24px;
    /* 45px = searchForm margin-left + own padding-right */
    width: calc(100% - 55px);
    border: none;
}

.searchForm:active, :hover, :focus {
    outline: none;
}

.searchForm::placeholder {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #BBC4D6
}

.searchIcon {
    position: absolute;
    padding: 0;
    height: 24px;
    width: 24px;
    background: none;
    border: none;
}

.searchIcon:before {
    content: url('../../assets/images/search.svg');
}