@media ( min-width: 1168px ) {
    .partners { width: 1170px }
    .partnersItem { width: 270px }
    .h { font-size: 36px }
}
@media ( min-width: 778px ) and ( max-width: 1167px ) {
    .partners { width: 758px }
    .partnersItem { width: 230px}
    .h { font-size: 28px }
}
@media ( max-width: 767px ) {
    .partners { width: 355px }
    .partnersItem { width: 335px }
    .h { font-size: 28px }
}
.h {
    margin: 10px;
    font-weight: 500;
    line-height: 160%;
    color: #121920
}

.partners {
    margin: 70px auto;
}

.partnersItems__container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.partnersItem {
    max-height: 140px;
    min-height: 120px;
    max-width: 335px;
    min-width: 230px;
    border: solid 1px #EBEBF1;
    border-radius: 5px;
}

.partners__partnersItem {
    margin: 10px;
}

.partners__partnersItem:hover {
    box-shadow: -3px 0 40px rgba(0, 0, 0, 0.1), 0 0 10px rgba(164, 164, 164, 0.03);
    cursor: pointer;
}

.partners__logoContainer {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
}

.partners__logo {
    height: 60px;
    width: 60px;
    object-fit: none;
}